<!--Page to edit doctors-->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-8">
    <h2 class="mb-4 text-center" style="font-size: 2.5em;">DOCTORS</h2>
    <div class="d-flex justify-content-between mb-3">
        <div>
            <label>Show
                <select class="custom-select custom-select-sm">
                    <option value="10">10</option>
                    <option value="10">25</option>
                    <option value="10">50</option>
                    <option value="10">100</option>
                </select> entries
            </label>
        </div>
        <div>
            <input type="text" class="form-control form-control-sm" placeholder="Search">
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Doctor Id</th>
                <th>Doctor Name</th>
                <th>Doctor Specialization</th>
                <th>Availibility</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{doctor.doctor_id}}</td>
                <td>{{doctor.doctor_fname}}</td>
                <td>{{doctor.doctor_specialization}}</td>
                <td>
                {% if doctor.doctor_availability == 'Available' %}
                <span class="badge-success">Available</span>
                {% elif doctor.doctor_status == 'Unavailable' %}
                <span class="badge-danger">Unavailable</span>
                {% else %}
                <span class="badge-secondary">Unknown</span>
                {% endif %}
            </td>
            <td style="display: flex; justify-content: space-around;">
                <a class="btn btn-success btn-sm" style = "padding: 6px 40px; font-size: 15px;">Edit</a>
                <a class="btn btn-danger btn-sm" style = "padding: 6px 40px; font-size: 15px;">Delete</a>
            </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

   

</div>



{% endblock %}